.about img {
  float: left;
  justify-content: center;
  object-fit: contain;
  margin: 1%;
  margin-left: 0;
  border-style: ridge;
  border-width: 5px;
}

.about h2 {
  text-align: center;
  border-bottom-style: double;
  border-bottom-color: rgb(43, 245, 255, 1);
}

.about ul{
 list-style: none;
}

.about li {
  text-align: center;
  margin: 1%;
  padding: 2%;
  color: rgb(43, 245, 255, 1);
  background-color: rgb(25, 39, 51, 1);
  border-style: double;
}

.about li:hover {
  color: rgb(25, 39, 51, 1);
  background-color: rgb(43, 245, 255, 1);
}

.about p {
 line-height: 1.5;
}

.theBestUrologistClinic div {
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding: 3%;
  border-style: double;
  border-color: rgb(43, 245, 255, 1);
  border-width: 10px;
}