
/* Reset styles */
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-display: swap; /* Allows text to render with a fallback font while the custom font loads */
  font-size: 1.5em;
  line-height: 1.6;
  background-color: rgb(250, 250, 245);
  color: #333;
  direction: rtl;
  text-align: right;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

main {
  margin-top: 10%;
}

@media all and (max-width: 685px) {
 main {
  margin-top: 15%;
 }
}


/* Header Footer */
header, footer {
  font-family: Arial, sans-serif;
  font-display: swap;
}

/* Navigation Menu */
header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 10px 0;
}

header nav ul li:hover {
  color: rgb(25, 39, 51, 1);
  background-color: rgb(43, 245, 255, 1);
}

header nav a {
  text-decoration: none;
}



/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(43, 245, 255, 1);
  margin: 0 0.5%;
  padding: 0 1%;
}

a:hover {
  color: rgb(25, 39, 51, 1);
  background-color: rgb(43, 245, 255, 1);
}

img {
  max-width: 100%;
  height: auto;
}

/* here is about section */
.container-about {
  position: relative;
  display: flex;
  padding: 10px;
}

.container-about img {
  width: 1000;
  height: 1000;
  border-style: ridge;
  border-width: 15px;
  border-radius: 5%;
}

@media (max-width: 800px) {
  .container-about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/* end of the profile */


 /* general */
p::selection, h1::selection, h2::selection, h3::selection, h4::selection, a::selection, li::selection, h6::selection {
  color: rgb(43, 245, 255, 1);
  background-color: rgb(25, 39, 51, 1);
}

p {
  padding: 10px;
  margin: 5px;
}

h1 {
  color: rgb(43, 245, 255, 1);
  background-color: rgb(25, 39, 51, 1);
  text-align: center;
}

h2, h3 {
  padding: 10px;
}

h6 {
  padding: 0;
  margin: 0;
}

u {
  color: rgb(25, 39, 51, 1);
}

button {
  font-size:larger;
  background-color: rgb(25, 39, 51, 1);
  color: rgb(43, 245, 255, 1);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 7px;
}

button:hover {
  background-color: rgb(43, 245, 255, 1);
  color: rgb(25, 39, 51, 1);
  cursor: pointer;
}

.container-background-image {
background-image: url(https://drjadurologyclinic.com/images/Clinic.webp);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

#container-box{
 width: 250px;
text-align: center;
}

#container-box :hover{
  background-color: rgb(43, 245, 255);
}

h2.container-box{
  text-align: justify;
}

p.container-box{
  text-align: justify;
}

/* Services section */

.container-services {
  display:flex;
  align-items: center;
  width:auto;
  top: 50px;
}

.side-column {
  width: 20%;
  height: auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(25, 39, 51, 1);
}

.devider {
border-style:ridge;
border-width: 5px;
width: 300;
height: 600;
box-sizing: border-box;
justify-content: center;
padding: 10px;
margin: 10px;
}

.devider:hover {
  background-color: rgb(43, 245, 255, 1);
}

.description {
  justify-content: center;
  text-align: center;
  background-color: rgb(43, 245, 255, 1);
}

.container-services img {
  width: 512;
  height: 512;
  justify-content: center;
  object-fit: contain;
  padding: 5px;
}

.container-services a {
  padding: 0;
  justify-content: center;
  height: auto;
  background-color: transparent;
  color: rgb(25, 39, 51, 1);
}

.container-services a :hover {
  background-color: transparent;
}

@media (max-width: 600px) {
.container-services  .main-content {
   flex-direction: column;
  }
.devider {
  width: 100%;
}
}


/* End of Sevices*/

div.review-widget_net {
  background-color: rgb(25, 39, 51, 1);
  padding: 10px;
}


/* Location and Maps */

.location{
  text-align: center;
}

.location .container-address a {
  color: rgb(43, 245, 255, 1);
}

.location .container-address u {
  color:rgb(25, 39, 51, 1);
  border-style: ridge;
  border-color: aqua;
}

.location .container-address u:hover {
  color:rgb(43, 245, 255, 1);
  background-color: rgb(25, 39, 51, 1);
}

.location .container-address a:hover {
color: rgb(25, 39, 51, 1);
}

.container-location {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-location a {
  width: 1000;
  height: 500;
  filter: invert(100%);
  border:0;
  display: block;
}

.container-location a img {
  width: 1000;
  height: 500;
  object-fit: contain;
}

section.location {
  display: flex;
}

@media (max-width: 600px) {
  .location{
    display: flex;
    flex-direction: column;
  } 
}


footer {
  width: 100%;
}



.references-section {
  font-size: x-small;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.references {
  font-size: xx-small;
  direction: ltr;
  text-align: left;
  padding: 0;
}

.references a {
  color: rgb(25, 39, 51);
  background-color: transparent;
  text-decoration: none;
  font-size: xx-small;
}

.references a:hover {
  text-decoration: underline;
  font-size: x-small;
}


article {
  max-width: 95%;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.primary {
  text-align: center;
}

@media screen {
.primary {
  font-size: large;
}
}

article img{
  aspect-ratio: 1000 / 1250;
  max-width: 50%;
  height: auto;
  float: left;
  object-fit: contain;
  margin-left: 0;
  padding-left: 0;
  margin-right: 2%;
  padding-right: 1%;
}

article a {
  background-color: rgb(25, 39, 51);
  text-decoration: underline;
  font-size: large;
}

article a:hover {
  color: rgb(25, 39, 51);
  background-color: rgb(43, 245, 255, 1);
}

article h1 {
    color: rgb(43, 245, 255, 1);
    background-color: rgb(25, 39, 51, 1);
}
article h2 {
  color: rgb(25, 39, 51);
  border-bottom: 2px solid rgb(43, 245, 255);
  padding-bottom: 10px;
}

article p, ul {
  margin: 20px 0;
}

aside {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  line-height: 2;
}