*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(25, 39, 51);
  color: rgb(43, 245, 255);
  direction: rtl;
  text-align: center;
}

.login-container, .admin-section {
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid rgb(43, 245, 255);
  border-radius: 10px;
  background-color: rgb(25, 39, 51);
}

.hidden-pages-section {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(43, 245, 255);
  border-radius: 10px;
  background-color: rgb(25, 39, 51);
}

.hidden {
  display: none;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width:50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgb(43, 245, 255);
  border-radius: 5px;
  background-color: rgb(25, 39, 51);
  color: rgb(43, 245, 255);
}

button {
  width: 50%;
  padding: 10px;
  background-color: rgb(43, 245, 255);
  border: none;
  border-radius: 5px;
  color: rgb(25, 39, 51);
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgba(43, 245, 255, 0.8);
}

.hidden-page-button {
  margin-top: 10px;
}

#adminPage {
  background-color: rgb(25, 39, 51);
  color: rgb(43, 245, 255);
  padding: 20px;
  border: 1px solid rgb(43, 245, 255);
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
}

#off-days-list {
  list-style: none;
  padding: 0;
}

#off-days-list li {
  background-color: rgb(43, 245, 255);
  color: rgb(25, 39, 51);
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#off-days-list li button {
  background-color: rgb(25, 39, 51);
  color: rgb(43, 245, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#off-days-list li button:hover {
  background-color: rgba(25, 39, 51, 0.8);
}
