body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}



.symptom-article, aside {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  line-height: 1.5;
}

.symptom-article h1 {
  font-size: xx-large;
  color: #2bf5ff;
  background-color: rgb(25, 39, 51, 1);
  border-radius: 35%;
  margin-bottom: 10px;
  padding-top: 10px;
}

.symptom-article h2 {
  font-size: xx-large;
  color: #2bf5ff;
  background-color: rgb(25, 39, 51, 1);
  margin-bottom: 10px;
  padding-top: 10px;
}

.symptom-article h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.symptom-article h4 {
  font-size: 1.2em;
  color: #192733;
  margin-bottom: 10px;
}

.symptom-article p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.symptom-article ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.symptom-article ul li {
  margin-bottom: 10px;
}

.symptom-article a {
  text-decoration: underline;
  color:  #192733;
}

.symptom-article a:hover {
  color: #2bf5ff;
  background-color: #192733;
}

.references-section {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
}

.references-section h2 {
  font-size: large;
  color: #192733;
  margin-bottom: 10px;
}

.references {
  list-style-type: decimal;
  padding: 0;
  margin: 0;
  direction: ltr;
  font-size: small;
}

.references-list {
  padding: 0;
  margin: 0;
}

.references-list a {
  text-decoration: none;
  color: #2bf5ff;
  transition: color 0.3s;
  margin: 0;
  padding: 0;
}

.references-list a:hover {
  color: #192733;
}

@media (max-width : 770px) {
  article h2 {
    font-size: large;
    padding-top: 10px;
  }
  
  
  article h3 {
    font-size: large;
    margin-top: 15%;
    padding-top: 20%;
  }

  article h4 {
    font-size: large;
    margin-bottom: 10px;
  }
  
  article p {
    line-height: 1.6;
    font-size: large;

  }

  article ul li {
    font-size: large;
    line-height: 1.6;
  }
}
