.container-testimonials {
  height:fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.testimonials {
  background-color: rgb(25, 39, 51, 1);
  color: rgb(43, 245, 255, 1);
  text-align: center;
  width: 100%;
}

.testimonials h1 {
  width: 100%;
}

.testimonials-container {
  display: flex;
  align-content: center;
  
}


.testimonials .testimonials-google {
display: block;
text-align: center;
padding-right: 10px;
width: 20%;
}


.testimonials-google .Google-Review-Logo {
  width: 60%;
}



.testimonials-slider {
  position: relative;
  max-width: auto;
  width: 100%;
  background-color: rgb(25, 39, 51, 1);
  margin: 10px auto;
  overflow: hidden;
}

.testmonials-slider .img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  width: 95%;
  height: 95%;
  border: 5px ridge #ccc;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin-right: 10px;
}

.testimonials-slider-inner {
height: 100%;
display: flex;
width: 500%;
transition: all 0.3s;
flex-shrink: 0;
}



.testimonials-slider section{
  flex-basis: 20%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}


.thebeststarreview {
  display: flex;
  justify-content: center;
}

.testimonials-slider .star {
  width: 15px;
}

.testimonials-slider p {
width: 80%;
text-align: center;
margin-bottom: 1%;
padding: 0;
padding-bottom: 1%;
font-size: large;
font-weight: 400;
}

.testimonials-controls {
  display: flex;
  justify-content: space-between;
}

.testimonials-controls .testimonials-arrow {
position:absolute;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
width: 7%;
height: 30%;
}
.testimonials-controls .testimonials-arrow img {
  width: 100%;
  height: 100%;
}

.testimonials-controls .testimonials-arrow img:hover {
  background-color: rgb(43, 245, 255, 1);
}

.testimonials-arrow.testimonials-prev {
right: 10px;
}

.testimonials-arrow.testimonials-next {
left: 10px;
}

@media all and (max-width: 800px) {
.testimonials-container {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials .testimonials-google {
    width: 80%;
  }

.testimonials-google h2, .testimonials-google p {
  font-size: xx-large;
  margin: 0;
  padding: 0;
  text-align: center;
}
}